<header class="app-header navbar" style="padding: 0px 40px; background-color: #002597;">
    <div class="w-100">
        <label style="color: white;  font-size: 18px; font-family: cursive;">Fields</label>
    </div>

</header>

<div class="app-body">
    <!--   <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/campo']"> Campos </a>
                </li>
            </ul>
        </nav>
    </div> -->
    <!-- Main content -->
    <main class="main">
        <br>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.conainer-fluid -->
    </main>
</div>

<footer class="app-footer">
    Fields &copy; 2020.
</footer>